{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Entrar{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card auth-card">
            <h4 class="card-title text-center">Bem-Vinda</h4>
            <form method="POST">
                {%csrf_token%}
                <input type="hidden" name="next" value="{{ next }}">

                {{ form|crispy }}
                <button type="submit" class="btn btn-primary btn-block">Login</button>
            </form>
            <a class="change-form-p" href="/accounts/register">Criar Conta</a>
        </div>
    </div>
</div>
{% endblock %}